<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>User Database</title>
        <!--stylesheet-->
    </head>
    <body>
        {{{body}}}
    </body>
</html>
